.main{
    background-image:url("images/partiture.jpg");
}

header{ 
    align-items: center;
    font-style: oblique;
    font-family:liberation-serif;
    font-size: 22px;
    text-align: center;
    background: linear-gradient(white,orange);
}

.header:hover{
	align-items:left;
    font-style:bold;
    font-family: monospace;
    font-size: 20px;
    text-align: right-side;
    background: linear-gradient(blue,purple);
	text-decoration: underline; /*overline*/
}

.navlist{ 
    list-style-type:none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #777;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    max-width: 920px;

}

.navlist:hover{
background-color:red;
color:yellow;
}


.nav_item{ 
	color:sienna;
}

.nav_item a{
    display:table;
    color:white;
    text-align: center;
    padding: 10px 12px;
    text-decoration:none;
}
.nav_item a:hover{
	
    background-color:white;
    color:orange;
}

.main_subheader{
    text-align: center;
    text-decoration: underline;
    border-style: solid;
    background-color: firebrick;
    width: 50%;
}

.main_subheader:hover{
    text-align: left;
    text-decoration:wavy;
    border-style:thick;
    background-color:purple;
    width: 100%;
}


.media_head{
    border-style: ridge;
    border-width: thick;
    border-color: firebrick;
    text-align: center;
    color:darkslategray;
}

.generic_h{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    width: 100%
}

.gen_list li{
    font-family: impact;
    width: 100%;
	
}

.box_rs_media{
	background-color:green;
    width: 200px;
    right:0px;
   
    position: absolute;
	box-shadow: 10px 10px 5px #888888;
    margin-top:20px;
}

.box_rs_media:hover{
	background-color:yellow;
    width: 300px;
    right:1px;
    
    position: absolute;
	box-shadow: 10px 10px 5px #888888;
    text-align: center;
}


.boxed{
    margin: 20px;
    background-color:white;
    text-align:left;
    border-style: solid;
    border-color: dimgrey;
    border-width: thick;
    width: 50%;
	border-radius: 10px;
	
}

/*
.boxed:hover{
	transform: rotate(45deg);
	transform: scale(2,5); 
	transform: skew(0deg,30deg);
	background-color:saddlebrown;
	
}
*/
.social{
	background-color:white;
    text-align: center;
    color:blue;
    margin-top: auto;
    background-size: 30px;
    background-position:center;
    background-clip:padding-box;
    transition: background-size 0.2s;
    display:block;
    width: 30px;
    height: 30px;
    text-decoration: none;
    cursor:auto;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;  
	
}

.pic{
    width: 100%;
}

.audio_bar{
    width: 100%;
}

.video_bar{
    width: 100%;
}

#github{
    text-align:justify;
    background-image:url(images/github.png);
}


#linkedin{
	text-align: justify;
    background-image:url(images/linkedin.png);
}

#box_rs_social{
    background-color:coral;
    width: 120px;
    position: absolute;
    right: 0px;
	text-shadow: 5px 5px 5px #008080;
	border-radius: 15px;
	border-style: solid;
    border-color: dimgrey;
    border-width: thick;

    display:block;
    margin-bottom:20px;
    text-align: center;
}

#box_rs_social:hover{
    background-color:aqua;
    width: 120px;
    position: absolute;
    right: 0.5px;
	/*transform: rotate(-60deg);
	transform: scale(2,2);
	transform: skew(25deg,10deg);*/
}

#jump_top, #translation {
max-width:10%;
}

/* Mobile Landscape */
@media screen and (max-width:480px){
    .box_rs_media {
        width:40%;
		box-shadow:none; 
    } 
	
     #personal{
        width: 50%;
    }
    
    .generic_h{
        width:50%;
    }
    
    .gen_list li{
        width: 50%;
    }
    
    .video_bar {
    position: relative;
	height: 0;
	overflow: hidden;
    }
	
	.navlist {
		width:100%;
	}
	   
}

/*Mobile Portrait*/
@media screen and (max-width:320px){
    #personal{
        width: 30%;
    }
    .box_rs_media {
        width:10%;
		box-shadow:none; 
    } 
    
    .generic_h{
        width:25%;
    }
    
    .video_bar {
    position: relative;
	height: 0;
	overflow: hidden;
    }
    
	.navlist {
		width:80%;
	}
        
    }
	
	@media screen and (max-width: 425px) { 
	
	.navlist {
		width:80%;
		
	}
	
	}
	
	@media screen and (max-width: 375px) { 
	
	.navlist {
		width:100%;
		
	}
	
	}
	
	@media screen and (max-width: 580px) { 
	
	.navlist {
		display:flex;
		flex-direction:column;
		flex-wrap:wrap;
		
		columns:2;
		text-align:center;
		align-items:center;
		justify-content:center;
		justofy-items:center;
	}
	
	}
	
	@media screen and (max-width: 320px) { 
	
	.navlist {
		width:100%;
		
	}
	
	}
	
/* Tablet Landscape, pc/laptop monitor */
@media screen and (max-width: 1024px) {
    .box_rs_media{
        width: 30%;
    }
}

@media screen and (max-width: 1440px) {
    .box_rs_media{
        width: 40%;
    }
	
}

@media screen and (max-width:768px){
    .box_rs_media {
        width:50%;
		box-shadow:none; 
        
    } 
     #personal{
        width: 50%;
    }
    
    .generic_h{
        width:50%;
    }
    
    .gen_list li{
        width: 50%;
    }
    
    .video_bar {
    position: relative;
	height: 0;
	overflow: hidden;
    }
	
	.navlist {
		width:100%;
	}
    
}